Package: hid-retrolink
Architecture: all
Maintainer: Alberto Alonso <alberto@alonso.xyz>
Depends: dkms
Priority: optional
Version: 1.0.0
Installed-Size: 300
Description: Linux driver for retrolink dual controller port adapter
 hid-retrolink is a Linux driver for the retrolink dual controller port adapter.
